<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pqh.mapper.UserMapper">
    <select id="findUserByUserName" resultType="com.pqh.pojo.User">
        select * from user where username=#{username}
    </select>

	<insert id="saveUser" parameterType="User">
        insert into user (username, password,password2, nickname,email)
        values(        
        #{username, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{password2, jdbcType=VARCHAR},
        #{nickname, jdbcType=VARCHAR},        
        #{email, jdbcType=VARCHAR}
        )
    </insert>




</mapper>